/* Colors */

$dark: #333333; //text
$darkest-grey: #979797; //button, text
$dark-grey: #bababa; //button-hover, header
$light-grey: #E3E3E3; //disabled-button
$orange: #f58220; //orange-button
$orange-hover: #ffa200; //orange-button-hover, link
$dark-green: #04ae00; //checked, online
$green: #74b67a; //positive-notificaction-hover
$light-green: #96cc9b;  //positive-notification
$rasberry: #de5252; //negative-notification-hover
$light-rasberry: #ec7171; //negative-notification
$link-color: #56819f;
$brand-main-color: #ff0000;
$header-color: #a6a6a6;
$background-color: #f5f5f2;
$table-background: rgba(177, 191, 191, 0.18);
$sidebar-hover: #282828;

/* Font sizes */
$paragraph-font-size: 16px;
$button-font-size: 18px;
$sidebar-font-size: 14px;
$user-font-size: 13px;

