@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "sections/header";
@import "sections/sidebar";
@import "sections/main-wrapper";
@import "components/modals";
@import "components/forms";


* {
   box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $dark;
    background-color: $background-color;
}


h1 {
    font-size: 30px;
    font-weight: 500; 
}

/* section header */
h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: $header-color;
}

/* component header */
h3 {
    color: $header-color;
    font-size: $sidebar-font-size;
    text-transform: uppercase;
}

h4 {
    color: $header-color;
    font-size: $sidebar-font-size;
}
    
a {
    color: $link-color;
    text-decoration: none;

    &:hover{
        color: $orange-hover;
    }
}

.small {
    font-size: 13px;
}

ul {
    list-style-type: none;   
    margin: 0;
    padding: 0; 

    li {   
        padding-left: 20px;
        color: $darkest-grey;
      
        &:hover {
            background-color: $table-background;
            cursor: pointer;
        }
    } 
}

img {
    display: block;
}

/* BUTTONS */


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: 40px;
    overflow: hidden;
    margin: 10px;
    padding: 0 22px; 
    border: none;
    border-radius: 3px; 
    outline: none;
    text-align: center;     
    color: white;      

    a {
        color: white;
    }

    &:disabled {
        background-color: $light-grey;

        &:hover {
            background-color: $light-grey;
        }
    }

}

.btn-orange {
    background-color: $orange; 

    &:hover {
        background-color: $orange-hover;
        cursor: pointer;
        color: white; 
    }
    
}

.btn-grey {
    background-color: $darkest-grey;

    &:hover {
        background-color: $dark-grey;
        cursor: pointer;
        color: white; 
    }
}

table { 
    border-collapse: collapse;
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
    
    tr {
        border-top: 2px solid $light-grey; 
        color: $header-color; 

        td {
            padding: 10px;
            font-size: $mobile-font-size;
            font-weight: bold;

            a {
                font-weight: 100;
            }

            i {
                visibility: hidden;
            }
            
            &:nth-child(n+3) {
                display: none;
            }
        }
        
        &:last-child {
            border-bottom: 2px solid $light-grey;
        }
    }


    @media (min-width: 768px) {
        max-width: 686px;

        tr {
            
            &:hover {
                background-color: $table-background;
                cursor: pointer;

                i {
                    visibility: visible;
                }
            }

            td {
                padding: 20px;
                font-size: $paragraph-font-size;

                &:first-child {
                    width: 40%;
                }

                &:nth-child(n+3) {
                    display: inline-block;
                } 
            }
        }
    }
}


.hide {
    display: none;
}


.list-with-digit {

    li {
        display: flex;
        justify-content: space-between;
        line-height: 42px;
        border-bottom: 1px solid $light-grey;
        font-size: 15px;
        padding: 0;
        padding: 0 5px;

        .right {
            color:$dark;
        }
    }

    &.columns {
        column-count: 1;
        
        @media (min-width: 768px) {
            column-count: 2; 
        }
    }

}


.pagination {
    a {
        padding: 9px 18px;

        &.active {
        background-color: $light-grey;
        }    
    }              
}