@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "sections/header";
@import "sections/sidebar";
@import "sections/main-wrapper";
@import "components/modals";


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $dark;
    background-color: $background-color;
}


h1 {
    font-size: 30px;
    font-weight: 500; 
}

/* section header */
h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: $header-color;
}

/* component header */
h3 {
    color: $header-color;
    font-size: $sidebar-font-size;
    text-transform: uppercase;
}

h4 {
    color: $header-color;
    font-size: $sidebar-font-size;
}
    
a {
    color: $link-color;
    text-decoration: none;

    &:hover{
        color: $orange-hover;
    }
}

.small {
    font-size: 13px;
}

ul {
    list-style-type: none;   
    margin: 0;
    padding: 0; 

    li {   
        padding-left: 20px;
        color: $darkest-grey;
      
        &:hover {
            background-color: $table-background;
            cursor: pointer;
        }
    } 
}

img {
    display: block;
   /* margin-left: auto;
    margin-right: auto;*/
}

/* BUTTONS */


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    height: 40px;
    overflow: hidden;
    margin: 10px;
    padding: 0 22px; 
    border: none;
    border-radius: 3px; 
    outline: none;
    text-align: center;     
    color: white;  
    

    
    

    a {
        color: white;
    }
}

.btn-orange {
    background-color: $orange; 

    &:hover {
        background-color: $orange-hover;
        cursor: pointer;
        color: white; 
    }
    
}

.btn-grey {
    background-color: $darkest-grey;

    &:hover {
        background-color: $dark-grey;
        cursor: pointer;
        color: white; 
    }
}
/////////////////////////////TO DO
.btn-disabled {
    background-color: $light-grey;
    position: relative;
   /* padding: 14px 22px 14px 45px;*/

    i {
 
   padding-right: 20px;
       position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%, -50%);
    }
}
////////////////////////////////////////////@at-root

table { 
    border-collapse: collapse;
    min-width: 688px;

    tr {
        font-weight: bold;
        border-top: 2px solid $light-grey; 
        color: $header-color; 

        td {
            padding: 22px 19px 26px 19px;
        
            a {
                font-weight: 100;
            }

            i {
                visibility: hidden;
            }
            
            &:first-child {
                width: 40%;
            }
        }
        
        &:hover {
            background-color: $table-background;
            cursor: pointer;

            i {
                visibility: visible;
            }
        }

        &:last-child {
            border-bottom: 2px solid $light-grey;
        }
    }
}



.hide {
    display: none;
}


.list-with-digit {

    li {
        display: flex;
        justify-content: space-between;
        line-height: 42px;
        border-bottom: 1px solid $light-grey;
        font-size: 15px;
        padding: 0;
        padding: 0 5px;

        .right {
            color:$dark;
        }
    }

    &.columns {
        column-count: 2;
    }
}


.pagination {
    a {
        padding: 9px 18px;

        &.active {
        background-color: $light-grey;
        }    
    }              
}

textarea {
    width: 156px;
    height: 123px;
    border-radius: 3px;
    border: 1px solid $light-grey;
    padding: 10px;
    transition: border 0.2s ease-in-out;
    font-size: 14px;
    font-weight: 300;
    

    &:hover {
        border: 1px solid $dark-grey;
        cursor: pointer;
    }

    &:focus {
        outline-color: $darkest-grey;  
    }

    &::placeholder {
        color: $light-grey;
        font-size: 12px;
    }

}

input {
    width: 156px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid $light-grey;
    padding: 0 10px;
    transition: border 0.2s ease-in-out;
    font-size: 14px;
    display: inline-block;

    &:hover {
        border: 1px solid $dark-grey;
        cursor: pointer;
        

        &::placeholder {
            color: $dark-grey;
        }
    }

    &:focus {
       /* outline: none; */
        outline-color: $darkest-grey;  
    }

    &::placeholder {
        color: $light-grey;
        font-size: 12px;
    }

}
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: 1px solid $light-grey;
    background-color: white;
    border-radius: 3px;
    font-size: 14px;
    width: 156px;
    transition: all 0.2s ease-in-out;

    input {
        border: none;
        width: 128px; 
        align-self: stretch;
        flex: 1 1 auto;

        &:focus {
            outline: none;   
        }
    }
    
    i {
        color: $light-grey;  
        padding: 0 5px;
    }

    &:hover {
        border: 1px solid $dark-grey;
        cursor: pointer;

        i {
            color: $dark-grey;
            
        }
    }

    &:focus-within {
        border: 1px solid $darkest-grey; 
    }

    &:focus-within i {
        color: $darkest-grey;
    }

    
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    button {
        margin: 0 20px;
    }
}


.date-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 340px;
    outline: none;
    border: 1px solid $light-grey;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    margin: 0 auto;

    input {
        align-self: stretch;
        flex: 1 1 auto;
        background: transparent;
        border: none;
        font-size: 14px;

        &::placeholder {
            color: black;
        }

        &:nth-child(2) {
            border-left: 1px solid $light-grey;
        }

        &:focus {
            outline: none;   
        }
    }

    i {
        color: black; 
        padding: 0 5px;
    }

    

    &:hover {
        border: 1px solid $dark-grey;
        cursor: pointer;
        border-radius: 3px;
    }

    &:focus-within {
        border: 1px solid $darkest-grey; 
    }
}


