@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $dark;
    background-color: $background-color;
}


h1 {
    font-size: 30px;
    font-weight: 500; 
}

/* section header */
h2 {
    font-size: 19px;
    text-transform: uppercase;
    color: $header-color;
    font-weight: 700;
}

/* component header */
h3 {
    color: $header-color;
    font-weight: 700;
}
    
a {
    color: $link-color;
    text-decoration: none;

    &:hover{
        color: $orange-hover;
    }
}

.small {
    font-size: 13px;
}

ul {
    list-style-type: none;   
    margin: 0;
    padding: 0;
}


header {
    background-color: $dark;
    height: 40px;   
   /* z-index: 2;*/
    position: fixed;
    width: 100%;
    top: 0;

    .logo-wrapper {
        background: $dark;
        /*height: 60px;*/
     /*   width: 100%;*/
        
        /*display: flex;
        align-items: center;*/
        
        

        .logo {
           /* margin: 18px 0 18px 20px;*/ 
           /* padding: 18px 0 18px 20px;*/
            /*height: 40px;*/
            display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5px;
       

            i {
                /*float: right;*/   
                /*margin: 18px 0 18px 20px;*/
                line-height: 40px;
              /*  margin-right: 10px;*/
            }
        
        }    
    }

    .top-bar {
        display: none;
    }

    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        height: 60px;
       /* width: 100%;*/
        background-color: white;
       /* position: fixed;*/
       /* top: 0;*/
        border-bottom: 1px solid $light-grey;
        z-index: 2;

        .logo-wrapper {
            background: $dark;
            height: 60px;
            width: 189px;
            

            .logo {
                margin: 18px 0 18px 20px; 
                padding: 0;

                i {
                    padding-right: 17px;
                }
            }    
        }
        

        .top-bar {
            font-size: 20px;
            display: flex;  
            /*flex-direction: row;*/
           /* align-items: center;*/
            background-color: white;
        
            li {
                display: flex;
                align-items: center;
                min-width: 58px;
                border-left: 1px solid $light-grey;
                margin-right: 0;
                line-height: 60px;
                padding-left: 18px;
                padding-right: 18px;
                position: relative;
        
                i {
                    font-size: 16px;
                    
                } 

                .icon-wallet {
                    margin-right: 16px;
                }
            
                .icon-arrow-down-small {
                    font-size: 12px; 
                    margin-left: 20px;
                }
        
                .icon-profile {
                    margin-right: 14px;
                }

        
                &:hover {
                    background-color: $background-color;
                    cursor: pointer;
                }

                .wallet {
                    display: none;
                }

                .wallet-collapsed {
                    width: 190px;
                    height: 188px;
                    line-height: 60px;
                    border-left: 1px solid $light-grey;
                    border-right: 1px solid $light-grey;
                    font-size: 20px;
                    background-color: $background-color;
                    position: absolute;
                    top: 60px;
                    left: -1px;
                    display: block;
                }
            }

            .li-wallet-collapsed {
                background-color: $background-color;
            }
        }
    }
}

.sidebar {
    display: none;


    @media (min-width: 992px) {
    height: 100%;
    width: 189px;
    display: block;
    background-color: $dark;
    position: fixed;
    top: 0;
    overflow: auto;
    padding-top: 60px;

        &::-webkit-scrollbar {
            display: none;
        }
        
        .nav {
            background-color: $dark;
            font-size: $sidebar-font-size;
            color: white;
            margin-left: 0; 
            padding-left: 0;
            
            li {
                height: 43px;
                padding-top: 15px;
                padding-left: 19px;
                position: relative;
                
                &::before {
                    content:'';
                    position: absolute;
                    border-left: 5px solid $orange;
                    top: 0;  
                    left: 0;
                    transition: transform 0.4s ease-in-out;
                    transform: scaleY(0);
                    display: block;  
                }

                &:hover{
                    background-color: $sidebar-hover;
                    cursor: pointer;

                    &::before {
                        height: 42px;
                        transform: scaleY(1);
                    }
                } 

                a {
                    color: white;
                }

                i {
                    color: white;
                    margin-right: 14px;
                }     
            }
        }
    
        .top-bar-sm {
            color: white;

            li {
                width: 100%;
                height: 43px;
                padding-top: 15px;
                padding-left: 19px;
        
                .icon-wallet {
                    width: 14px;
                    height: 13px;
                    margin-right: 14px;
                }
            
                .icon-arrow-down-small {
                    font-size: 12px; 
                    margin-left: 20px;
                }

                .icon-notification {
                        width: 16px;
                        height: 17px;
                        margin-right: 14px;
                }
        
                .icon-quit {
                        width: 19px;
                        height: 15px;
                }
                
                .icon-profile {
                    width: 17px;
                    height: 17px;
                    margin-right: 14px;
                }
        
                &:hover {
                    cursor: pointer;
                }
            }
        
            @media (min-width: 992px) {
                display: none;
            }
        }
    }
}

.sidebar-open {
    background-color: $dark;
    height: 100%;
    width: 100%;
    display: block;
   /* display: flex;
    flex-direction: column;
    justify-content: center;*/
  

    .nav {
        background-color: $dark;
        font-size: $sidebar-font-size;
        color: white;
        border: 1px solid green;
        margin-left: 20%;
        /*text-align: center; //wyśrodkowuje elementy, ale to centrowanie mi się nie podoba */
     /*  width: 100%;*/
       /* margin-left: 0; */
       /* padding-left: 0;*/
        
        li {
            height: 43px;
            padding-top: 15px;
            padding-left: 19px;       

            a {
                color: white;
            }

            i {
                color: white;
                margin-right: 14px;
            }     
        }
    }

    .top-bar-sm {
        color: white;
        text-align: center;
      /*  display: flex;*/
        /*justify-content: center;
        /*flex-direction: column;*/

        li {
            width: 100%;
            height: 43px;
            padding-top: 15px;
            padding-left: 19px;
            border: 1px solid yellow;
            
            .icon-wallet {
                width: 14px;
                height: 13px;
                margin-right: 14px;
            }
        
            .icon-arrow-down-small {
                font-size: 12px; 
                margin-left: 20px;
            }

            .icon-notification {
                    width: 16px;
                    height: 17px;
                    margin-right: 14px;
            }
    
            .icon-quit {
                    width: 19px;
                    height: 15px;
            }
            
            .icon-profile {
                width: 17px;
                height: 17px;
                margin-right: 14px;
            }
    
            &:hover {
                cursor: pointer;
            }
        }
    
    }

}

.main-wrapper {
    margin-top: 20px; 
    background-color: $background-color;

    section {        
        background-color: white;
        padding: 10px;
        box-shadow: 0 0 10px $dark-grey;
        margin: 0px 17px 21px 17px;

        &:first-child {
            margin-top: 30px;
        }  
    }

    @media (min-width: 992px) {
        margin-top: 61px;
        margin-left: 189px;

        section {
           margin: 0px 17px 21px 17px;
           padding: 21px 185px 24px 185px;
            box-shadow: 0 0 10px $dark-grey;

            &:first-child {
                margin-top: 76px;
            }            
        }
    }
}

/* BUTTONS */
.btn {
    display: inline-block;
    padding: 14px 26px 14px 22px;
    border: none; 
    border-radius: 3px;
    text-align: center;     
    color: white;   
}

.btn-orange {
    background-color: $orange; 

    &:hover {
        background-color: $orange-hover;
        cursor: pointer;
        color: white; 
    }
}

.btn-grey {
    background-color: $darkest-grey;

    &:hover {
        background-color: $dark-grey;
        cursor: pointer;
        color: white; 
    }
}

.btn-disabled {
    background-color: $light-grey;
}

table { 
    border-collapse: collapse;
    max-width: 688px;

    tr {
        font-weight: 700; 
        border-top: 2px solid $light-grey; 
        color: $header-color; 
        
        &:hover {
            background-color: $table-background;
            cursor: pointer;
        }

        td {
            padding: 22px 19px 26px 19px;
        }
    }
}