
.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999;

	&.show {
		display: block;
	}
}

.modal {
	display: none;
	background: #fff;
    max-width: 900px;
    min-width: 360px;
    margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);

	&.show {
        display: block;
        justify-content: space-between;
        align-items: center;
	}
    
    &.login {
		width: 95%;

        .input-container {
            margin: 0 20px;
            width: 90%;
		}
		
		@media (min-width: 768px) {
			max-width: 772px;

			.input-container{
				width: 213px;

				input {
					width: 211px;
				}
			}
		}
    }

    .close-x {
		position: absolute;
		right: 0;
		top: 0;
		padding: 5px;
		color: #000;
		text-decoration: none;
    }
    
	.modal-header {
		font-size: 20px;
		line-height: 30px;
		min-height: 30px;
		font-weight: bold;
        padding: 0 10px;
		position: relative;
		border-bottom: 1px solid $light-grey;
	}

	.content {
		padding: 10px;

		.content-buttons {
			display: flex;
			justify-content: flex-end;
    	}
    } 
}