.main-wrapper {
    margin-top: 20px; 
    background-color: $background-color;
    
    section {        
        background-color: white;
        box-shadow: 0 0 10px $dark-grey;
        
        &:first-child {
            margin-top: 60px;
        }  

        .content-header {
            border-bottom: 1px solid $light-grey;
            padding: 10px;
        }

        .content {
            border-bottom: 1px solid $light-grey;
        }
        .flexbox {
            display: flex;
            justify-content: center;
            padding: 15px;                               
        }
    }

    @media (min-width: 992px) {
        margin-top: 61px;
        margin-left: 189px;
        transition: 0.3s all ease-in-out;

        section {
            margin: 0px 17px 21px 17px;
            box-shadow: 0 0 10px $dark-grey;

            &:first-child {
                margin-top: 76px;
            }            
        }
    }
}

.wide {
    margin-left: 56px;
}