.sidebar {
    display: none;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &.open {
    	background-color: $dark;
    	height: 100%;
    	width: 100%;
    	display: block;
    	overflow: auto;
   		position: fixed;
        font-size: $sidebar-font-size;
        top: 40px;

        .nav {
            font-size: $sidebar-font-size;
            
            li {
                padding: 20px; 
                color: $darkest-grey;

                a {
                    color: $darkest-grey;
                }

                i {
                    margin-right: 14px;
                }
                
                &::before {
					content:'';
					position: absolute;
					border-left: 5px solid $orange;
					top: 0;  
					left: 0;
					transition: transform 0.4s ease-in-out;
					transform: scaleY(0);
					display: block;  
				}
            }                
        }

        .top-bar-sm {

            li {
				padding-top: 15px;
                padding: 20px;	

                i {
					margin-right: 14px;
					font-size: $sidebar-font-size; 
                }
                
                a {
                    color: $darkest-grey;
    
                    &:hover {
                        cursor: pointer;
                    }
                }

                .bottom-panel {
					display: flex;
					align-items: center;
					padding: 0 20px;
					min-width: 180px;
					max-width: 230px;
					   
					.notification {
						width: 50%;
					}

				}
            }
        }

        .user-list {
            padding: 10px 20px; 

			.manager {
				display: flex;
			    align-items: center;
			   	width: 100%;
			   	min-width: 150px;
   
				   .cover {
			   			width: 30px;
			   			height: 30px;
			   			border-radius: 50%;
			   			background-size: cover;
			   			background-position: center;
			  			position: relative;
   
					   &::before {
			            	content: '';
			   				width: 11px;
							height: 11px;
			   				border-radius: 50%; 
			   				display: block;
			   				position: absolute;
			   				top: 0px;
			   				left: 20px;
			   				z-index: 1;
					   } 
				   }
   
				   .details {
			 			flex: 1 1 auto;
			 			padding-left: 10px;
				   }
   
				   &.active .cover::before {
		  				background-color: $dark-green;
				   }   
			   }
    		
        }

        @media (min-width: 992px) {
            width: 56px;   
            background-color: $dark;
            overflow: hidden;
            top: 0;

            .nav {
                display: block;
                margin-left: 0; 
                padding-left: 0;
                border-bottom: 1px solid #8c8b8b;
                font-size: $sidebar-font-size;

                li {
                   padding: 0 20px;
        
                    &:last-child {
                        margin-bottom: 43px;   
                    }            
                    
                    a {
                        span {
                            visibility: hidden;
                        }
                    }

                    i {
                        color: white;
                        margin-right: 14px;
                    }     
                }    
            }

            .user-list { 
                padding: 12px; 
    
                h3 {
                   visibility: hidden;  
                   height: 0;
                   margin-bottom: -10px; 
                }
    
               .manager {
                    .cover {
                        width: 30px;
                        height: 30px;
    
                        &::before {
                            content: '';
                            width: 8px;
                            height: 8px;
                            top: 2px;
                            left: 25px;
                        } 
                    }
    
                    .details {
                        visibility: hidden;
                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        height: 100%;
        width: 189px;   
        display: block;
        background-color: $dark;
        position: fixed;
        top: 0;
        padding-top: 60px;
        transition: all 0.3s ease-in-out;
  
        .nav {
            font-size: $sidebar-font-size; 
            margin-left: 0; 
            padding-left: 0;
            border-bottom: 1px solid #8c8b8b;

            li {
                height: 43px;
                padding: 0 20px;
                position: relative;
                white-space: nowrap;

                &:last-child {
                    margin-bottom: 43px;   
                }

                 &::before {
                    content:'';
                    position: absolute;
                    border-left: 5px solid $orange;
                    top: 0;  
                    left: 0;
                    transition: transform 0.4s ease-in-out;
                    transform: scaleY(0);
                    display: block;  
                }

                &:hover,
                &:hover a,
                &:hover i {
                    background-color: $sidebar-hover;
                    cursor: pointer;
                    color: white; 

                    &::before {
                        height: 42px;
                        transform: scaleY(1);
                    }
                } 

                a {
                    color: $darkest-grey;
                    line-height: 43px;
                }

                i {
                    color: $darkest-grey;
                    margin-right: 14px;
                }  
            }
        }

        .top-bar-sm {
            display: none;
        }

        .user-list {
            padding: 10px 20px; 

            h3 {
                white-space: nowrap;
                transition: margin 0.3s;
            }

            .manager {
                display: flex;
                align-items: center;
                width: 100%;
                min-width: 150px;

                .cover {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                    position: relative;

                    &::before {
                        content: '';
                        width: 11px;
                        height: 11px;
                        border-radius: 50%; 
                        display: block;
                        position: absolute;
                        top: 2px;
                        left: 30px;
                        z-index: 1;
                    } 
                }

                .details {
                    flex: 1 1 auto;
                    padding-left: 10px;
                }

                &.active .cover::before {
                    background-color: $dark-green;
                }
                
            }
        }
    }

}  